.activeGames-Container {
    width: 87%;
    background-color: white;
    margin: auto;
    padding: 20px;
}

#gameMode {
    text-align: center;
}

.banned-Container {
    text-align: center;
}

.banned-Champions {
    width: 30px;
    height: 30px;
}