.summonerProfile-container {
    background: linear-gradient(to bottom, #edf1f1, #f1f5f5);
    width: 90%;
    height: 280px;
    margin: 20px auto;
    margin-bottom: 5vh;
}

.summonerProfile-profile {
    margin: auto;
    margin-left: 20px;
    margin-top: 7px;
    width: 33%;
    height: 240px;
    border: 1px solid black;
    padding: 10px;
    float: left;
    text-align: right;
    display: flex;
    align-items: center;
}

.summonerProfile-profile-userInfo {
    display: flex;
    flex-direction: column;
    margin: auto;
}

#summonerProfileIcon {
    width: 150px;
    height: 150px;
    margin-top: 35px;
    margin-right: 35px;
}

#summonerName {
    font-size: 25px;
}

#summonerLevel {
    font-size: 20px;
}

.summonerProfile-rankInfo {
    display: flex;
    width: 60%;
    height: 80%;
    float: right;
    border: 1px solid black;
    margin-top: 20px;
    margin-right: 20px;
    padding: 2px;
    font-size: 10px;
    justify-content: center;
    align-items: flex-end;
}

/* No Ranked의 크기 및 위치를 조정하기 위한 .summonerProfile-noRanked 항목 추가 */
.summonerProfile-noRanked {
    font-size: 50px;
    padding-bottom: 25px;
}

.summonerProfile-soloRank {
    border: 1px dotted rgb(165, 165, 165);
    width: 50%;
    font-size: 15px;
    list-style: none;
    margin: 0px;
    padding: 3px;
}

.summonerProfile-soloRank li {
    text-align: center;
}

.summonerProfile-freeRank {
    border: 1px dotted rgb(165, 165, 165);
    width: 50%;
    font-size: 15px;
    list-style: none;
    margin: 0px;
    padding: 3px;
}

.summonerProfile-freeRank li {
    text-align: center;
}

.emblemImg {
    width: 140px;
    height: 140px;
    text-align: center;
}