.championDetailInfo-profileContainer {
    text-align: center;
    border: 1px solid black;
    width: 100%;
    display: flex;
    padding-top: 30px;
}

.championDetailInfo-profile {
    width: 50%;
    padding: 50px;
}

#championDetailInfo-img {
    width: 250px;
    padding-top: 80px;
}

#champion-name {
    font-size: 50px;
}

#champion-title {
    font-size: 15px;
    padding-bottom : 30px;
}

#champion-blurb {
    margin: auto;
    width: 700px;
}

.championDetailInfo-stats {
    width: 50%;
}

.stats-contents {
    list-style: none;
    display: flex;
    width: 500px;
    border: 1px solid black;
    margin: 2px auto;
    justify-content: center;
}

.stats-contents div {
    width: 100%;
    padding: 5px;
}
