.championInfo-title {
    text-align: center;
    border: 1px dotted rgb(206, 202, 202);
    margin: auto;
    padding: 40px;
    font-size: 25px;
}

.championInfo-container {
    text-align: center;
}

.championInfo-champContainer {
    width: 200px;
    height: 100px;
    display: inline-block;
    padding: 20px;
    margin: 13px;
    box-shadow: 0 0 5px 1px rgb(66, 152, 173);
    font-weight: bold;
    cursor: pointer;
}

.championInfo-img {
    width: 80px;
    height: 80px;
}