.championDetailInfo-profileContainer {
    text-align: center;
    width: 100%;
    display: flex;
    padding-top: 30px;
}

.championDetailInfo-profile {
    width: 50%;
    padding: 50px;
}

#championDetailInfo-img {
    width: 250px;
    padding-top: 80px;
}

#champion-name {
    font-size: 50px;
}

#champion-title {
    font-size: 15px;
    padding-bottom : 30px;
}

#champion-blurb {
    margin: auto;
    width: 700px;
}

.championDetailInfo-stats {
    width: 50%;
}

.championDetailInfo-skillsContainer {
    margin-left: 10px;
}

.stats-contents {
    list-style: none;
    display: flex;
    width: 500px;
    box-shadow: 1px 2px 2px 1px rgb(138, 189, 236);
    margin: 5px auto;
    justify-content: center;
    background: rgb(255, 255, 255);
}

.stats-contents div {
    width: 100%;
    padding: 5px;
}

.skillsContainer-title {
    font-style: italic;
    margin-left: 30px;
}

.skillsContainer-descriptionBox {
    background: rgb(238, 237, 237);
    padding : 1px 20px 10px 20px;
    margin: 20px;
}

.recommendedItem-title {
    margin-left: 30px;
    font-style: italic;
}

#item-type {
    font-size: 20px;
    margin-left: 30px;
}

.item-container {
    border: 1px solid rgb(138, 189, 236);
    box-shadow: 1px 2px 2px 1px rgb(138, 189, 236);
    background: rgb(238, 237, 237);
    display: inline-block;
    text-align: center;
    padding: 30px;
    width: 80px;
    height: 100px;
    margin: 10px;
    margin-left: 30px;
    vertical-align: middle;
}

