.Header-container {
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
    /* background: linear-gradient(to bottom, #a5dcf1, #93c1f7); */
    background: #a5dcf1;
}

.Header-tab {
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
    color: black;
}

.Header-tab:link {
    color: black;
}

.Header-tab:visited {
    color: black;
}

.Header-tab:hover {
    color: gray;
}